body {
  font-size: 11px;
  font-family: "verdana";
}

pre {
  font-family: "verdana";
  font-size: 10px;
  background-color: #ffffcc;
  padding: 5px 5px 5px 5px;
}
pre .comment {
  color: #008000;
}
pre .builtin {
  color: #ff0000;
}

form {
  background: -webkit-gradient(
    linear,
    bottom,
    left 175px,
    from(#cccccc),
    to(#eeeeee)
  );
  background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 500px;
  #font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

legend {
  color: #09c;
  font-size: 13px;
  font-style: normal;
}

textarea:focus,
input:focus {
  border: 1px solid #09c;
}

input.button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09c;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1p solid #999;
  font-weight: bold;
}
input.button:hover {
  background: #fff;
  color: #09c;
}

body {
  background-image: url("../ims/noiseBg.png");
}
