body {
  font-size: 12px;
  font-family: "verdana";
  background-image: url("../ims/noiseBg.png");
  width: 100%;
}

pre {
  font-family: "verdana";
  font-size: 12px;
  background-color: #ffffcc;
  padding: 5px 5px 5px 5px;
}
pre .comment {
  color: #008000;
}
pre .builtin {
  color: #ff0000;
}

legend {
  color: #09c;
  font-size: 13px;
  font-style: normal;
}

textarea:focus,
input:focus {
  border: 1px solid #09c;
}

input.button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09c;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1p solid #999;
  font-weight: bold;
}
input.button:hover {
  background: #fff;
  color: #09c;
}

#pagHeader {
  display: block;
  height: 90px;
  margin: 0;
  width: 100%;
}

#logo img {
  width: 100%;
  height: 90px;
  display: block;
  position: absolute;
}

#apDivBanner {
  position: absolute;
  width: 1310px;
  height: 110px;
  z-index: -1;
  left: 0px;
  top: 0px;
  background-image: url("../ims/banner3.png");
}

#apDivLeft {
  position: absolute;
  width: 267px;
  height: 600px;
  z-index: 1;
  left: 0px;
  top: 119px;
}

#apDivRigth {
  position: absolute;
  width: 945px;
  height: 600px;
  z-index: 1;
  left: 360px;
  top: 119px;
}

#apDivDay {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 810px;
  top: 0px;
}

#apDivMiddle {
  position: absolute;
  width: 138px;
  height: 600px;
  z-index: 1;
  left: 276px;
  top: 119px;
}

#apDivJoinRigth {
  position: absolute;
  width: 1082px;
  height: 600px;
  z-index: 1;
  left: 269px;
  top: 119px;
}

.border {
  border: 1px solid #cccccc;
}
