body { font-size: 11px; font-family: "verdana"; }

pre { font-family: "verdana"; font-size: 10px; background-color: #FFFFCC; padding: 5px 5px 5px 5px; }
pre .comment { color: #008000; }
pre .builtin { color:#FF0000;  }
	
	h1
		{
		font-size: 36px;
		font-weight: normal;
		letter-spacing: -1px;
		}
		
	.formdata
		{
		background: #eee;
		width: 800px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 4px;
		box-shadow: inset 0 0 3px #bbb;
		color: #333;
		}
		
		.formtitle
			{
			padding: 10px 10px;
			border-bottom: 1px solid #ccc;
			font-weight: bold;
			text-shadow: 0 1px #fff;
			}
			
		.formbody
			{
			padding: 10px 10px;
			border-top: 1px solid #f7f7f7;
			}	

.font, .font input select textarea { font-family: tahoma; font-size: 11px; }
a.tclabel span { text-decoration: none; font-family: tahoma; cursor: pointer; }

