body { font-size: 11px; font-family: "verdana"; }

pre { font-family: "verdana"; font-size: 10px; background-color: #FFFFCC; padding: 5px 5px 5px 5px; }
pre .comment { color: #008000; }
pre .builtin { color:#FF0000;  }


legend
{
color: #09C;
font-size: 13px;
font-style: normal;
}


textarea:focus, input:focus {
border: 1px solid #09C;
}


input.button {
width:100px;
position:absolute;
right:20px;
bottom:20px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
font-weight: bold;
}
input.button:hover {
background:#fff;
color:#09C;
}




#pagHeader {
    background-image: url("ims/xBackground.png");
    display: block;
    height: 90px;
    margin: 0;
    padding: 0;
}


#pagHeaderLogo {
    border: 0 none;
    height: 90px;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    width: 161px;
}

#apDivLeft {
	position: absolute;
	width: 267px;
	height: 550px;
	z-index: 1;
	left: 0px;
	top: 119px;
}
#apDivRigth {
	position: absolute;
	width: 945px;
	height: 550px;
	z-index: 1;
	left: 413px;
	top: 119px;
}
#apDivMiddle {
	position: absolute;
	width: 138px;
	height: 550px;
	z-index: 1;
	left: 275px;
	top: 119px;
}

#apDivJoinRigth {
	position: absolute;
	width: 1082px;
	height: 550px;
	z-index: 1;
	left: 269px;
	top: 119px;
}

.border {border:1px solid #cccccc;}

body {
    background-image: url("ims/noiseBg.png");
}